@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Book Application</h1>
    
</div>

@section Scripts{
            <script type="text/javascript">

                function openSuccessModal(strMessage)
                {
                    var myDiv=document.getElementById("MyModalSuccessAlertBody");
                    myDiv.innerHTML=strMessage;
                    $('#myModalSuccess').modal('show');
                }


                $(document).ready(function()
                {
                    var msg="@TempData["SuccessMessage"]";
                    if(msg)
                    openSuccessModal(msg);
                });
            </script>
}